<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs'); %>
</head>

<head>
  <%- include('partials/header.ejs'); %>
</head>

<body>

  <%- include('partials/body.ejs'); %>
</body>





<footer>
  <%- include('partials/footer.ejs'); %>
</footer>

</body>
</html>


<!--Nicole Peralta, Student# 301222909git add-->