<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./Components/head.ejs'); %>
</head>


<body>

  <header>
    <%- include('./Components/header.ejs'); %>
  </header>



   <main>
    <%- include('./content/' + page + '.ejs'); %>
  </main>

 
</body>





<footer>
  <%- include('Components/footer.ejs'); %>
</footer>

</body>
</html>


<!--Nicole Peralta, Student# 301222909git add-->